* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup-container {
  display: flex;
  width: 700px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Left Side */
.popup-left {
  flex: 1;
  background: #f8f8f8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
}

.popup-left h3 {
  margin-bottom: 20px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.feature {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: 500;
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.store-buttons i{
    justify-content: space-evenly;
    margin: 6px;
    border: 1px solid black;
}

/* Right Side */
.popup-right {
  flex: 1.2;
  background: #121212;
  color: white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-right h2 {
  margin-bottom: 5px;
}

.otp-text {
  color: #ff9d00;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.continue-btn {
  background-color: #b22222;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.continue-btn:hover {
  background-color: #a01e1e;
}

.terms {
  font-size: 11px;
  color: #ccc;
  margin-top: 15px;
  line-height: 1.5;
}

.terms a {
  color: #ff9d00;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
